<template>
    <div class='adding-menu event-block'>
      <div class='adding-menu__circle'>
      </div>
    </div>
</template>

<script>
export default {
  name: "Adding",
}
</script>

<style>
  .adding-menu {
    background-color: #dffff4;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .adding-menu:hover {
    opacity: 0.7;
  }

  .adding-menu__circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: #7fffd4;
    position: relative;
  }

  .adding-menu__circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #fff;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
  }

  .adding-menu__circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #fff;
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
  }

  .event-block {
    margin: 30px 60px;
    height: 300px;
    width: 500px;
    border-radius: 25px;
    text-align: center;
  }
</style>