<template>
  <div>
    <apexchart
      width="500"
      type="line"
      :options="options"
      :series="series"
    ></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue-apexcharts";


export default {
  props: ["options", "series"],

  data() {
    return {};
  },

  components: {
    apexchart: VueApexCharts,
  },
};
</script>

<style>
</style>