<template>
  <div>
    <div class="plot">
      <Chart v-bind:options="this.options" v-bind:series="this.series" />
      <Chart v-bind:options="this.options_2" v-bind:series="this.series_2" />
    </div>
    <h2>Подробная информация о событии</h2>
    <button @click="returnToList;">Вернуться</button>
    <vue-json-to-table v-if="loaded" :data="this.eventData"></vue-json-to-table>
  </div>
</template>

<script>
import Chart from "@/components/Chart.vue";

export default {
  name: "EventInfo",

  props: ["uuid", "eventId"],

  data() {
    return {
      eventData: {},
      loaded: false,
      options: {},
      series: [],
      options_2: {},
      series_2: [],
    };
  },

  created() {
    fetch(`http://146.59.45.210:8081/127.0.0.1:8083/event/${this.eventId}`)
      .then((response) => {
        return response.json();
      })
      .then((json) => {
        this.eventData = json;
      });

    this.loaded = true;

    fetch(`http://146.59.45.210:8081/127.0.0.1:5000/dash?id=${this.eventId}`)
      .then((response) => {
        return response.json();
      })
      .then((json) => {
        let categories = [];
        let series_click = [];
        let series_show = [];
        let series_book = [];

        for (const [time, value] of Object.entries(json["click_metric"])) {
          let date = new Date(time * 1000);
          categories.push(date.toString().slice(0, 10).replace(/-/g, ""));
          series_click.push(value);
        }

        for (const [a, value] of Object.entries(json["show_metric"])) {
          a;
          series_show.push(value);
        }

        for (const [a, value] of Object.entries(json["books_metric"])) {
          a;
          series_book.push(value);
        }

        this.options = {
          chart: {
            id: "mega chart",
          },
          xaxis: {
            categories: categories,
          },
        };
        this.series = [
          {
            name: "click_metric",
            data: series_click,
          },
          {
            name: "show_metric",
            data: series_show,
          },
        ];

        this.options_2 = {
          chart: {
            id: "super chart",
          },
          xaxis: {
            categories: categories,
          },
        };
        this.series_2 = [
          {
            name: "book_metric",
            data: series_book,
          },
        ];
      });
  },

  methods: {
    returnToList() {
      this.$emit("return-to-list");
    },
  },

  components: {
    Chart,
  },
};
</script>

<style>
.plot {
  margin-left: auto;
  margin-right: auto;
}
</style>