<template>
  <div class="event event-block">
    <div class="event__content">
      <div @click="openEventInfo">
        <h3>{{ event.title }}</h3>
      </div>
      <p>{{ event.description }}</p>
      <div class="ratings">
        <div class="rating__box">
          <v-icon name="thumbs-up" />
          <b>{{ event.ratings.likes }}</b>
        </div>
        <div class="rating__box">
          <v-icon name="thumbs-down" />
          <b>{{ event.ratings.dislikes }}</b>
        </div>
        <div>{{ this.category }}</div>
      </div>
      <button @click="openEventInfo">Открыть</button>
    </div>
  </div>
</template>

<script>
import Icon from "vue-awesome/components/Icon";
import "vue-awesome/icons/thumbs-up";
import "vue-awesome/icons/thumbs-down";

export default {
  props: ["event", "category"],

  components: {
    "v-icon": Icon,
  },

  methods: {
    openEventInfo() {
      this.$emit("switch-to-info", this.event.id);
    },
  },
};
</script>

<style scoped>
body {
  background-color: #fefefe;
}
.event {
  background-color: white;
  font-family: Helvetica;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.event__content {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: calc(100% - 120px);
  height: 140px;
}

.rating__box {
  margin: 10px;
}
</style>