<template>
  <div>
    <div v-if="show">
      <div v-for="event in this.events" :key="event.id">
        <Event
          v-bind:event="event"
          v-bind:category="matchCategory(event.category1)"
          v-on:switch-to-info="changeScreen"
        />
      </div>
      <div>
        <Adding />
      </div>
    </div>
    <div v-else>
      <EventInfo
        v-on:return-to-list="returnToList"
        v-bind:eventId="this.showEventId"
      />
    </div>
  </div>
</template>

<script>
import Event from "@/components/Event.vue";
import Adding from "@/components/Adding.vue";
import EventInfo from "@/components/EventInfo.vue";

export default {
  props: ["uuid"],

  data() {
    return {
      categories: {},
      events: {},
      showEventId: null,
      show: true,
    };
  },

  mounted() {
    fetch(`http://146.59.45.210:8081/127.0.0.1:8083/events/${this.uuid}`)
      .then((response) => {
        return response.json();
      })
      .then((json) => {
        this.events = json;
      });

    fetch(`http://146.59.45.210:8081/127.0.0.1:8083/categories`)
      .then((response) => {
        return response.json();
      })
      .then((json) => {
        this.categories = json;
      });
  },

  methods: {
    matchCategory(id) {
      this.categories.forEach((element) => {
        if (element.id == id) {
          return element.name;
        }
      });
    },

    changeScreen(eventId) {
      console.log(eventId);
      this.showEventId = eventId;
      this.show = false;
    },

    returnToList() {
      this.show = true;
    },
  },

  components: {
    Event,
    Adding,
    EventInfo,
  },
};
</script>

<style scoped>
</style>