<template>
  <div class="login-form">
    <div class="login-form__text">Введите название организации</div>
    <input
      type="text"
      v-model="name"
      placeholder="Название организации"
      class="login-form__input"
    />
    <button @click="onClick" class="login-form__button">Отправить</button>
  </div>
</template>

<script>
export default {
  name: "Login",

  data() {
    return {
      name: "",
      uuid: "",
    };
  },

  mounted() {},

  methods: {
    onClick() {
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ organizationName: this.name }),
      };

      console.log(requestOptions);

      fetch(`http://146.59.45.210:8081/127.0.0.1:8083/login`, requestOptions)
        .then((response) => {
          console.log(response);
          if (response.status !== 200) {
            this.error = true;
          }

          return response.json();
        })
        .then((json) => {
          if (json.uuid != null) {
            this.uuid = json.uuid;
            this.$emit("login-ok", this.uuid);
          }
        });
    },
  },
};
</script>

<style>
.login-form {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 350px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.login-form__text {
  font-size: 22px;
  padding: 20px 0 20px;
}

.login-form__input {
  width: 80%;
  padding: 12px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.login-form__button {
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color: rgb(209, 209, 217);
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110, 112, 120), rgb(81, 81, 86))
    rgb(110, 112, 120);
  box-shadow: 0 1px rgba(255, 255, 255, 0.2) inset, 0 3px 5px rgba(0, 1, 6, 0.5),
    0 0 1px 1px rgba(0, 1, 6, 0.2);
  transition: 0.2s ease-in-out;
}

.login-form__button:hover:not(:active) {
  background: linear-gradient(rgb(126, 126, 134), rgb(70, 71, 76))
    rgb(126, 126, 134);
}

.login-form__button:active {
  top: 1px;
  background: linear-gradient(rgb(76, 77, 82), rgb(56, 57, 62)) rgb(76, 77, 82);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5) inset,
    0 2px 3px rgba(0, 0, 0, 0.5) inset, 0 1px 1px rgba(255, 255, 255, 0.1);
}
</style>