<template>
  <div class="main">
    <div>
      <h1 class="main__title">Администрирование Событий</h1>
    </div>
    <Login v-if="this.login" v-on:login-ok="processLogin" />
    <Events v-else v-bind:uuid="this.uuid" class="main__events" />
  </div>
</template>

<script>
import Login from "./components/Login.vue";
import Events from "./components/Events.vue";

export default {
  name: "App",

  data() {
    return {
      uuid: "uuid",
      login: true,
    };
  },

  components: {
    Login,
    Events,
  },

  methods: {
    processLogin(uuid) {
      console.log(uuid);
      this.uuid = uuid;
      this.login = false;
    },
  },
};
</script>

<style>
.main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  border-top: 80px;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("~@/assets/back.jpg");
  background-size: cover;
}

.main__events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
</style>